bimvee==1.0.15
matplotlib==3.5.1
numpy==1.22.2
opencv_python==4.5.5.62
pandas==1.4.1
Pillow==9.0.1
Pillow==12.3.0
plotly==7.1.0
pyquaternion==0.9.9
pyrender==0.1.45
PyWavelets==1.2.0
scipy==1.8.0
seaborn==0.11.2
tqdm==4.62.3
trimesh==5.1.0
